networks:
  web:
    external: true

volumes:
  pgdata: { }

services:
  coincidenza:
    container_name: coincidenza
    build: .
    env_file:
      - .env
    restart: always
    networks:
      - web
    depends_on:
      - postgres

  postgres:
    container_name: coincidenza-db
    image: postgres:17
    restart: always
    volumes:
      - pgdata:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    networks:
      - web

  redis:
    container_name: coincidenza-redis
    image: redis:8
    restart: always
    networks:
      - web