@import "tailwindcss";

@plugin './hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

html {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    position: relative;
}