html {
    background-color: #ffffff;
    color-scheme: light;
    overscroll-behavior: none;
  }
  
  html.dark {
    background-color: #000000;
    color-scheme: dark;
  }
  
  body {
    background-color: inherit;
    overscroll-behavior: none;
    -webkit-overflow-scrolling: touch;
  }
  
  @supports (-webkit-touch-callout: none) {
    html {
      background-color: inherit !important;
    }
  }
  
  @tailwind base;
  @tailwind components;
  @tailwind utilities;